<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <link rel="stylesheet" href="/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

<h1></h1>
<div class="jumbotron">
    <h1 class="display-4">Welcome to my reddit clone project</h1>
    <p class="lead">This is a simple reddit based project, trying to replicate the basics of the concept and putting my
        own twist on it.</p>
    <hr class="my-4">
    <p> For the best experience on my wallmart reddit I suggest you to make a fake account.</p>
    <p> Don't worry, we won't ask for any validation, it's just an other exercise to manage users on a database.</p>
    <p> If you don't want to, you can just see the default layout, pressing the skip making an account button.</p>
    <p class="lead">
        <br>
    <div class="btn-group btn-group-lg" role="group" aria-label="...">
        <a type="button" class="btn btn-primary" href="/home">Skip making an account button</a>
        <a type="button" class="btn btn-primary" href="/login">Login</a>
        <a type="button" class="btn btn-primary" href="/registration">Register</a>
    </div>
    </p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>