<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<nav>
    <a href="/todo/add" class="button">Add new todo</a>
</nav>
<header>
    <h1>Todos for today:</h1>
</header>
<main>
    <br>
    <table>
        <tr th:each="todo: ${todos}">
            <td th:text="${todo.id}"></td>
            <td th:text="${todo.title}"></td>
            <td th:text="${todo.urgent}"></td>
            <td th:text="${todo.done}"></td>
            <td><a th:href="'/todo/'+ ${todo.id} +'/delete'">Delete</a></td>
        </tr>
    </table>
</main>
</body>
</html>