<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>welcome trainer</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body class="background-image">
    <h1>Hi trainer!</h1>
    <h2>Lets quickly think, are you capable enough to take care of your fox?</h2>

    <button class="registration" onclick="location.href='/register'">IF YOU READY</button>

    <button class="login" onclick="location.href='/login'">I ALREADY HAVE A PAL</button>


</body>

</html>