<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" href="/style-register.css">
</head>

<body>
<h1>Welcome to the Fox Trainer Club!</h1>
<p>Let's name your pet!</p>
<p style="font-weight: bold;">Remember, raising your fox, comes with responsibilities</p>
<IMG SRC="/3dgifmaker22889.gif" class="float-right">
<h2> Aww look he so exited!!</h2>
<form action="/user" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">
    <input class="sub-button" type="submit" value="Name it">




</body>

</html>